*{
	margin: 0;
}
body{
	background-color:#D3D3D3;
}
.head{
	background-color:#2E2E2E;
	width: 100%;
	height: 100px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
#content {
	width: 100%; 
}
#left {
	margin-bottom: 0.5%;
	width: 22%;
	float: left;
	height: 550px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	margin-top:0.5%;
	margin-left: 2%;
	background-color: #fff;
}
#left1{
	margin-bottom: 0.5%;
	width: 22%;
	float: left;
	height: 550px;
	margin-top:0.5%;
	margin-left: 2%;
}
#podleft1{
background-color: #fff;
width: 100%;
/*height: 255px;*/
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
#podleft2{
background-color: #fff;
margin-top:5%;
width: 100%;
box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
#podaside{
	color: blue;
	font-family:verdana;
	font-weight:bold;
	font-size: 20px;
	padding-left: 30%;
	text-align: center;
}
#podaside2{
	color: blue;
	font-family:verdana;
	font-weight:bold;
	font-size: 20px;
	padding-left: 10%;
	margin-top: 2%;
	text-align: center;
}
#podaside3{
	color: blue;
	font-family:verdana;
	font-weight:bold;
	font-size: 20px;
	padding-left: 10%;
	text-align: center;
}
#center{
	margin-top:0.5%;
	float: right;
	margin-bottom: 0.5%;
	margin-right: 2%;
	background-color: #fff;
	width: 73%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}
#right {
	margin-top:0.5%;
	margin-bottom: 0.5%;
	margin-right: 2%;
	background-color: #fff;
	width: 73%;
	float: right;
	height: 100%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
.clear {
	clear: both;
}
.footer{
	width: 100%;
	background-color:#2E2E2E;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	height: 10%;
	position: absolute;

}
#foot {
	background-color:#2E2E2E;
	width: 100%;
	float: left;
	height: 70px;
	color:#000;
}
#poot{
	background-color:#2E2E2E;
	width: 10%;
	font-size: 20px;
	float: right;
	height: 100px;
	color:#fff;
}
#p{
	padding: 15%;
	padding-left: 30%;
	 padding-top:30%;
	}
#p2{
	padding: 15%;
	padding-left: 34%;
	padding-top:30%;
}
#p3{
	padding: 15%;
	padding-left: 34%;
	padding-top:30%;
}
#goot{
	background-color:#2E2E2E;
	width: 46%;
	float: left;
	height: 100px;
	color:#000;
}
#toTop {
	width:50px;
	border-radius: 50px;
	border:1px solid #ccc;
	background:#f7f7f7;
	text-align:center;
	padding:5px;
	position:fixed;
	bottom:10px;
	right:10px;
	cursor:pointer;
	display:none;
	color:#333;
	font-family:verdana;
	font-size:11px;
}
#f{
	width:50px;
	height: 50px;
}
.h1{
	padding: 4.5%;
	color: #DF7401;
	padding-left: 14%;
	font-family:verdana;
}
p{
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 1%;
	font-family:Fira Sans,sans-serif;
	text-align:justify;
	font-size: 18px;
	}
#zahead{
	padding-top: 5%;
	font-size: 120%;
	text-indent: 7%;
	font-family: verdana;
}
#iacor{
	font-family:Fira Sans,sans-serif;
	padding-top: 7%;
	padding-left: 11%;
	color: #000;
	font-size:100%;
}
h1{
 padding-left: 3%;
 font-family: verdana;
 text-indent: 7%;
}
a{
	text-decoration: none;
	color:#fff;
	font-family: verdana;
}
a:hover{
	transition: 0.5s;
}
#e{
	font-family: verdana;
	padding-top: 3%;
	padding-left: 25%;
	color: #fff;
	font-size:18px;
}
#video{
	width: 100%;
}
.left{
	float:left; 
    margin: 0px 2% 0% 0px;
}
.right{
	float:right; 
    margin: 0px 5% 2% 10%;
    width: 30%;
}
.right2{
	float:right; 
    margin: 0px 0% 2% 5%;
    width: 65%;
}
.right3{
	float: right;
	margin: 0px 0% 1% 2%;
}
#par1{
 font-size:20px;
 font-weight:bold;
}
#par2{
 font-size:20px;
 font-weight:bold;
}
#par3{
 font-size:20px;
 font-weight:bold;
}
#par4{
 font-size:20px;
 font-weight:bold;
}
#par5{
 font-size:20px;
 font-weight:bold;
}
#par6{
 font-size:20px;
 font-weight:bold;
}
#par7{
 font-size:20px;
 font-weight:bold;
}
#par8{
 font-size:20px;
 font-weight:bold;
}
#par9{
 font-size:20px;
 font-weight:bold;
}
#par10{
 font-size:20px;
 font-weight:bold;
}

#par{
	font-size:20px;
}
.primer{
	color: grey;
}
.center{
	 margin: 0px 5% 2% 4%;
	 width: 92%;
}
#wrapper{
	width: 98%;
	margin-top: 1%;
	margin-right: 1%;
	margin-left: 1%;
	margin-bottom: 1%;
	background-color: #fff;
}
#del{
	width: 21.5%;
	padding-left: 2%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
	display:inline-block;
}
#left4{
	width:30%;
	margin-bottom: 0.5%;
	float: left;
	height: 550px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
	margin-top:0.5%;
	margin-left: 1.5%;
	background-color: #fff;
}
#right4{
	width: 65%;
	/*height: 100vh;*/
	margin-top:0.5%;
	margin-bottom: 0.5%;
	margin-right: 1.5%;
	background-color: #fff;
	float: right;
	/*height: 100%;*/
	box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}
#true_1{
	/*position: absolute;*/
	float:left;
	margin-top: 1vh;
	margin-left:1%;
}

#true_2{
	/*position: absolute;*/
	margin-top: 4vh;
/*	margin-left: 1%;*/
}

#true_3{
	/*position: absolute;
*//*	margin-top: 7vh;*/
	margin-left: 1%;
	float: left;
}

#a_1_1 {
	/*position: absolute;*/
/*	margin-top: 1.5vh;*/
	float: left;
	margin-left: 0.5%;
}

#a_1_2 {
	/*position: absolute;*/
	margin-top: 0.5vh;
	float: left;
	margin-left: 0.5%;
}

#a_1_3 {
	/*position: absolute;*/
	margin-top: 0.5vh;
	margin-left: 0.5%;
	float: left;
}
h2{
	padding-left: 10%;
	 text-indent: 7%;
	 font-family: verdana;
}